h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

ul {
}

$large-hero-container: 1400px;
$standard-hero-container: 1152px;
$main-container-width: 1152px;
$text-container-width: 670px;

.large-hero-container {
  max-width: $large-hero-container;
  margin: auto;
  @media (max-width: $large-hero-container) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.standard-hero-container {
  max-width: $standard-hero-container;
  margin: auto;
  @media (max-width: $standard-hero-container) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.full-container {
  width: 100%;
  margin: auto;

  @media (max-width: $main-container-width) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.main-container {
  max-width: $main-container-width;
  margin: auto;

  @media (max-width: $main-container-width) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.blog-container {
  max-width: $text-container-width;
  margin: auto;

  @media (max-width: $text-container-width) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

a:active {
  color: var(--my-secondary) !important;
}
