@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-alt: 'Roboto Slab', 'serif';
  --font-code: 'Roboto Mono', 'monospace';
}

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.prose h3,
.prose strong {
  color: var(--background);
}

.prose a {
  color: blue;
}
*/
