@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: oklch(var(--p));
  --primary-content: oklch(var(--pc));
  --secondary: oklch(var(--s));
  --secondary-content: oklch(var(--sc));
  --neutral: oklch(var(--n));
  --neutral-content: oklch(var(--nc));

  --accent: oklch(var(--a));
  --accent-content: oklch(var(--ac));

  --base100: oklch(var(--b1));
  --base200: oklch(var(--b2));
  --base300: oklch(var(--b3));
  --base-content: oklch(var(--bc));
}

/* DaisyUI colors : https://daisyui.com/docs/colors/ */

@layer utilities {
  .little-bar::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background-color: var(--secondary); /* Accent theme color */
    margin: 20px 0;
  }

  .little-bar-primary::after {
    background-color: var(--primary); /* Primary theme color */
  }

  .little-bar-accent::after {
    background-color: var(--accent); /* Secondary theme color */
  }

  .little-bar-neutral::after {
    background-color: var(--neutral); /* Neutral theme color */
  }

  /* Add more colors if needed */
}
