@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
}

:root {
  --th-primary: oklch(var(--p));
  --th-primary-content: oklch(var(--pc));
  --th-secondary: oklch(var(--s));
  --th-secondary-content: oklch(var(--sc));
  --th-neutral: oklch(var(--n));
  --th-neutral-content: oklch(var(--nc));

  --th-accent: oklch(var(--a));
  --th-accent-content: oklch(var(--ac));

  --th-base100: oklch(var(--b1));
  --th-base200: oklch(var(--b2));
  --th-base300: oklch(var(--b3));
  --th-base-content: oklch(var(--bc));
}

@layer base {
  :root {
    --font-alt: Arial, Helvetica, sans-serif;
    --font-code: 'Roboto Mono', monospace;
  }
}

body {
  color: var(--th-base-content);
  background: var(--th-base100);
  font-family: Arial, Helvetica, sans-serif;
}

.prose h3,
.prose strong {
  color: var(--th-accent);
}

.prose a {
  color: blue;
}
